---
url: '#'
title: 'Context-Menu Item'
---
<a class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="elements/context-menu/item" href="{{{url}}}"{{#if scrollbar}} data-scrollbar="true"{{/if}}>{{{title}}}
{{#if hotkey}}
<span class="hotkey">{{{mixin "svgs/icons/controls/context-item-hotkey"}}}{{{hotkey}}}</span>
{{/if}}
</a>
