---
layout: 'layouts/view-content'
title: 'Examples Input'
group:
  item-select:
    multiple: false
    items:
      -
        label: 'Item 1'
        value: '1'
        name: 'examples-input-item'
        checked: false
      -
        label: 'Item 2'
        name: 'examples-input-item'
        checked: true
      -
        label: 'Item 3'
        name: 'examples-input-item'
        checked: false
  item-select-multiply:
    multiple: true
    items:
      -
        label: 'Multiply Item 1'
        value: '1'
        name: 'examples-input-item-multiply'
        checked: false
      -
        label: 'Multiply Item 2'
        name: 'examples-input-item-multiply'
        checked: true
      -
        label: 'Multiply Item 3'
        name: 'examples-input-item-multiply'
        checked: false

---
<section>

  <table width="100%">
    <tr>
      <th>
        Inputs
      </th>
      <th>
        Buttons
      </th>
      <th>
        Others
      </th>
    </tr>

    <tr>
      <td>
        {{{mixin "fragments/field/group"}}}
        {{{mixin "fragments/field/group/checkbox"}}}
        {{{mixin "fragments/field/group/radio"}}}
        {{{mixin "fragments/field/group/item-select" group.item-select}}}
        {{{mixin "fragments/field/group/item-select" group.item-select-multiply}}}
      </td>
      <td>
        {{#mixin "fragments/field/group/button"}}

        {{#content "items"}}

            <li>{{{mixin "elements/button/upload" import}}}</li>
            <li>{{{mixin "elements/button/primary" export}}}</li>
            <li>{{{mixin "elements/button/secondary" export}}}</li>
            <li>{{{mixin "elements/button/dialog" dialog}}}</li>

        {{/content}}

        {{/mixin}}

      </td>
      <td>
        {{#mixin "fragments/field/group" this}}

          {{#content "items"}}
            <li>
              {{{mixin "elements/field/checkbox"}}}
            </li>
            <li>
              {{{mixin "elements/field/radio"}}}
            </li>
            <li>
              {{{mixin "elements/field/item"}}}
            </li>
            <li>
            {{{mixin "elements/field/select" select}}}
            </li>
            <li>
              {{{mixin "elements/field/textbox"}}}
            </li>
            <li>
              {{{mixin "elements/field/textarea"}}}
            </li>
          {{/content}}

        {{/mixin}}
      </td>
    </tr>

  </table>

</section>
