---
header:
  navigation:
    items:
      -
        title: 'Web-Workbench'
        items:
          -
            class: 'js-click-view-open'
            title: 'Import/Export Runtime'
            view-path: './pages/workbench/runtime_import_export.html'
          -
            hotkey: 'i'
            class: 'js-click-view-open'
            title: 'Settings'
            view-path: './pages/workbench/settings.html'
          -
            separator: true
          -
            hotkey: 'i'
            class: 'js-click-view-open'
            title: 'Info'
            view-path: './pages/info.html'
      -
        list-item-class: 'js-icon-manager-controls'
        title: 'File'
        items:
          -
            class: 'js-icon-manager-control-new'
            title: 'New'
          -
            disabled: true
            class: 'js-icon-manager-control-open'
            title: 'Open'
          -
            disabled: true
            class: 'js-icon-manager-control-close'
            title: 'Close'
          -
            disabled: true
            class: 'js-icon-manager-control-duplicate'
            title: 'Duplicate'
          -
            disabled: true
            class: 'js-icon-manager-control-info'
            title: 'Info'
          -
            disabled: false
            class: 'js-icon-manager-control-discard'
            title: 'Discard'
      -
        title: 'Examples'
        items:
          -
            class: 'js-click-view-open'
            title: 'Inputs'
            view-path: './pages/examples/inputs.html'
          -
            class: 'js-click-view-open'
            title: 'Dialog'
            view-path: './pages/examples/dialog.html'
          -
            class: 'js-click-view-open'
            title: 'View with Scrollbars'
            scrollable: true
            scaleable: true
            view-path: './pages/examples/view-scroll.html'


---
<div class="partial controller" data-partial="components/workbench" data-controller="./partials/components/Workbench">

  {{#mixin "elements/screen" this}}

    {{#content "content"}}

      {{{mixin "components/header" header}}}

      {{#mixin "fragments/workbench-control"}}

        {{#content "windows"}}

        {{/content}}
        {{#content "content"}}

          {{{mixin "fragments/item-control"}}}

        {{/content}}

      {{/mixin}}

      <div class="error-wrapper">

            {{mixin "elements/error"}}

      </div>

    {{/content}}

  {{/mixin}}

  <script id="{{{id}}}" type="text/x-handlebars-template">
    {{mixin "elements/error"}}
  </script>

</div>
