---
name: # Field Name
id: # Field Id
checked: true
label: 'Select Label'
options:
  -
    title: 'Option 1.'
    value: 'option-1'
  -
    title: 'Option 2.'
    value: 'option-1'
  -
    title: 'Option 3.'
    value: 'option-1'
---
<label class="partial" data-partial="elements/input/select">
{{#if label}}
  <span class="label">{{{label}}}</span>
{{/if}}
  <select{{#if name}} name="{{{name}}}"{{/if}}{{#if id}} id="{{{id}}}"{{/if}}{{#if size}} size="{{{size}}}"{{/if}}{{#if multiple}} multiple{{/if}}>{{#block "options"}}{{#each options}}<option value="{{{value}}}">{{{title}}}</option>{{/each}}{{/block}}</select>
</label>
