---

view-tmpl:
  id: 'view-template'
  data:
    id: '{{{id}}}'
    scrollable: true
    header:
      title: '{{{title}}}'
dialog-tmpl:
  id: 'dialog-template'
  data:
    text: '{{{text}}}'
dialog-button-tmpl:
  id: 'dialog-button-template'
  data:
    title: '{{{title}}}'

---
<div class="partial controller" data-partial="fragments/workbench-control" data-controller="./partials/fragments/WorkbenchControl" data-target="[data-partial='components/workbench']">

  <div class="content">

    {{#block "content"}}{{/block}}

  </div>

  <div class="views" data-hook="views">

    {{#block "views"}}{{/block}}

  </div>

  {{#with view-tmpl}}
    <script id="{{{id}}}" type="text/x-handlebars-template">
      {{#with data}}
        {{#mixin "components/view" this}}
        {{#content "content"}}{{/content}}{{/mixin}}
      {{/with}}
    </script>
  {{/with}}

  {{#with dialog-tmpl}}
    <script id="{{{id}}}" type="text/x-handlebars-template">
      {{#with data}}
        {{#mixin "fragments/dialog" this target="[data-partial='fragments/workbench-control']"}}
          {{#content "buttons"}}
            {{{{raw}}}}
              {{#each buttons}}{{{this}}}{{/each}}
            {{{{/raw}}}}
          {{/content}}
        {{/mixin}}
      {{/with}}
    </script>
  {{/with}}
  {{#with dialog-button-tmpl}}
    <script id="{{{id}}}" type="text/x-handlebars-template">
      {{#with data}}
        {{#mixin "elements/input/button/dialog" this}}
        {{#content "attributes"}}
         data-partial="elements/input/button/dialog"
         {{{{raw}}}}{{#if name}} name="{{{name}}}"{{/if}}{{#if hook}} data-hook="{{{hook}}}"{{/if}}{{{{/raw}}}}
        {{/content}}
        {{/mixin}}
      {{/with}}
    </script>
  {{/with}}

  {{{mixin "elements/icon-manager" target="[data-partial='fragments/workbench-control']"}}}
</div>
