---
src:
  class: 'label-top'
  label: 'Source'
  name: 'src'
  placeholder: 'Source (Url)…'
  autocomplete: false
name:
  label: 'Name'
  name: 'name'
  placeholder: 'Name…'
  autocomplete: false
title:
  label: 'Title'
  name: 'title'
  placeholder: 'Title…'
  autocomplete: false
linkUrl:
  class: 'label-top'
  label: 'Url'
  name: 'linkUrl'
  placeholder: 'Url…'
  autocomplete: false
code:
  class: 'label-top'
  label: 'HTML'
  name: 'code'
  placeholder: 'Write HTML…'
  autocomplete: false

buttons:
  cancel:
    hook: 'cancel'
    title: 'Cancel'
  create:
    class: 'create'
    submit: true
    title: 'Create'
  save:
    class: 'save'
    submit: true
    title: 'Save'
---
<div class="partial controller" data-partial="components/applications/core-file/edit" data-controller="./partials/components/applications/core-file/Edit">
  <form data-hook="form">
    {{{mixin "elements/field/textbox" name}}}
    {{{mixin "elements/field/textbox" title}}}
    <div class="link">
      {{{mixin "elements/field/textbox" linkUrl}}}
    </div>
    <div class="html">
      {{{mixin "elements/field/textarea" code}}}
    </div>
    <div class="media">
      {{{mixin "elements/field/textbox" src}}}
    </div>
    <div class="buttons">
      {{{mixin "elements/button/secondary" buttons.cancel}}}
      {{{mixin "elements/button/primary" buttons.create}}}
      {{{mixin "elements/button/primary" buttons.save}}}
    </div>
  </form>
</div>
