---
type:
  title: 'Type'
  items:
    -
      label: 'Directory'
      value: 'DIRECTORY'
      name: 'type'
      hook: 'type'
      checked: false
    -
      label: 'Link'
      value: 'LINK'
      name: 'type'
      hook: 'type'
      checked: true
    -
      label: 'Image (Url or Base64-Url)'
      value: 'IMAGE'
      name: 'type'
      hook: 'type'
      checked: false
    -
      label: 'Video (only Url)'
      value: 'VIDEO'
      name: 'type'
      hook: 'type'
      checked: false
    -
      label: 'HTML (Saved as Base64)'
      value: 'HTML'
      name: 'type'
      hook: 'type'
      checked: false
name:
  label: 'Name'
  name: 'name'
  placeholder: 'Name…'
  autocomplete: false
title:
  label: 'Title'
  name: 'title'
  placeholder: 'Title…'
  autocomplete: false
icon:
  name: 'icon'
  hook: 'icon'
buttons:
  iconSelect:
    title: 'Icon Select…'
    hook: 'icon-select'
  cancel:
    title: 'Cancel'
    hook: 'cancel'
  create:
    submit: true
    title: 'Create'
    hook: 'create'
---
<div class="partial controller" data-partial="components/applications/core-file/new" data-controller="./partials/components/applications/core-file/New">
  <form data-hook="form">
    {{{mixin "fragments/field/group/item-select" type}}}
      {{{mixin "elements/field/textbox" name}}}
      {{{mixin "elements/field/textbox" title}}}
    <div class="directory"></div>
    <div class="default">
      <div class="preview-icon">
        <span class="icon" data-hook="preview-icon">
          <span></span>
        </span>
        <span>
        {{{mixin "elements/button/secondary" buttons.iconSelect}}}
        {{{mixin "elements/field/hidden" icon}}}
      </span>
      </div>
    </div>
    <div class="buttons">
      {{{mixin "elements/button/secondary" buttons.cancel}}}
      {{{mixin "elements/button/primary" buttons.create}}}
    </div>
  </form>
</div>
