---
title: 'View Title'
---
{{#mixin "components/header" this}}
  {{#content "attributes"}}
    touch-action="none"
    data-partial="components/header/view"
    data-controller="./partials/components/header/View"
    {{#if view-id}} data-target="[data-partial='components/view'][data-id='{{{view-id}}}']"{{/if}}
    data-title="{{{title}}}"
  {{/content}}
  {{#content "content"}}

    <div class="handlers left">
      <span class="close" data-hook="close" touch-action="none">
        {{{mixin "svgs/icons/controls/close"}}}
      </span>
    </div>
    <span class="background">
      <span class="line"></span><span class="line"></span><span class="dots"></span>
    </span>
    <span class="title"><span data-hook="view-title">{{{title}}}</span></span>
    <div class="handlers right">
      <span class="focus-max" data-hook="focus-max" touch-action="none">
      {{{mixin "svgs/icons/controls/focus-max"}}}
    </span>
    <span class="focus-min" data-hook="focus-min" touch-action="none">
       {{{mixin "svgs/icons/controls/focus-min"}}}
    </span>
    </div>
  {{/content}}
{{/mixin}}
