---
label: 'Textbox Label'
placeholder: 'Textbox Placeholder…'
---
<label class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="elements/field/textbox">
  {{#if label}}
    <span class="label">{{{label}}}</span>
  {{/if}}
  <input type="text"{{#if name}} name="{{{name}}}"{{/if}}{{#if hook}} data-hook="{{{hook}}}"{{/if}}{{#if placeholder}} placeholder="{{{placeholder}}}"{{/if}}{{#if form-ignore}} data-form-ignore="true"{{/if}}{{#unless autocomplete}} autocomplete="off"{{/unless}} />
</label>
